$body-color:#F6F6F6;
$main-color:red;
$white:#fff;
$backgroundimg:url(../img/bg.gif);
$midasi:1.8rem;
$h3font:2.0rem;
$dayfont:1.2rem;
$bunfont:1.4rem;
$mottofont:1.6rem;
$gakkacolor:#56BF00;
html{
  font-size:62.5%;
  background-color:$white;
    border-top:#ff8000 solid 10px;
    max-width:1920px;
}
body{
  width:50%;
  background-color:$body-color;
  margin:0 auto;
  padding:0 20px;
}
#logo{
  padding-top:20px;
  width:25%;
}
dt img{
  margin-top:2px;
  width:100%;
}
dl{
  float:right;
  margin:20px 0 0 0;
  padding:5px 0;
 dt{
   float:left;
   margin:0 10px 0 10px;
   }
  #nyuuryoku{
   float:left;
   margin:0 10px 0 0;
  }
  #kensaku{
    float:right;
    margin:0 10px 0 0;
  }
  &:after{
    content: '';
      display: table;
      clear: both;
  }
}


#header_nav{
  list-style-type:none;
  margin:20px 0 0 0;
  padding:0;
    display:flex;
    text-align:center;

  .h_nav{
    border-bottom:3px solid #ff8000;
    box-sizing: content-box;
   background-color:$white;
   width:16%;
   font-size:1.8rem;
   margin:0 2px;
   -webkit-transition: none;
 	transition: none;
   & a{
     display: block;
     padding:10px 5px;
     text-decoration: none;
     color:#000;
     &:hover{
       color:#fff;
       background-color:#ff8000;
       top: -4px;
     }
    }
  }
}
h2{
  margin:0 auto;
  padding:0 0 0 2%;
  font-size:$midasi;
  width:83%;
  color:$white;
  &.gakka{
    background-color:$gakkacolor;
  }
  &.ibento{
    background-color:#EEB402;
  }
  &.tokubetu{
    background-color:#DD3030;
  }
}


#maincontents{
  margin:20px auto 0 auto;
  padding:20px 0;
  background-color:$white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.26);
  overflow:hidden;
  width:97%;

  #mainimg{
    width:85%;
    display: block;
    margin:0 auto;
  }
}

#mainh3{
  font-size:$h3font;
  width:85%;
  margin:10px auto 0 auto;
}
.day{
  width:85%;
  font-size:$dayfont;
  margin:0 auto;
}
.bun{
  font-size:$bunfont;
  width:85%;
  margin:10px auto 0 auto;
  font-family:"MSP明朝";
}
.motto{
  font-size:$mottofont;
  display:block;
  margin:10px auto;
  width:30%;
  border-radius:10px;
  color:#fff;
  text-decoration: none;
  -webkit-transition: none;
	transition: none;
  position: relative;
  box-shadow: 0 3px 0 #f7ba59;
  &:hover{
	top: -4px;
	box-shadow: 0 7px 0 #f7ba59;
}
}
a.motto{
  background-color:#ff8000;
  padding:2%;
  text-align: center;
}

#subcontents{
  padding:0;
  width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}
.contents{
  width:30%;
  margin:20px 0 0 0;
  padding:2% 0;
  background-color:$white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.26);
  overflow:hidden;
  &:hover{
   border:1px solid #000;
   box-sizing:border-box;
  }
&::after{
  content: '';
 display: table;
 clear: both;
}
 .subimg{
  width:85%;
  display:block;
  margin:0 auto;
 }
 .subh3{
 width:85%;
 margin:0 auto;
 font-size:1.4rem;
 }
 .subday{
   width:85%;
   margin:0 auto;
   font-size:1.2rem;
 }
 a.submotto{
   font-size:$mottofont;
   display:block;
   color:$white;
   text-align: center;
   margin:10px auto;
   width:50%;
   border-radius:10px;
   background-color:#ff8000;
   padding:4%;
   text-decoration: none;
 }
}
.contents_a{
  color:#000;
  text-decoration: none;
}
#kiji{
  margin:50px auto 0 auto;
  width:97%;
  padding:0;
  list-style-type:none;
  display:flex;
  justify-content:space-between;
}
#archive{
  background-color:$white;
  width:50%;
  float: left;
  border: 1px solid #000;
  box-sizing:border-box;
}
#hot{
  background-color:$white;
  width:50%;
  float: left;
  border: 1px solid #000;
  box-sizing:border-box;
}


#archive h3{
  font-size:$h3font;
  margin:0;
  text-align: center;
  background-color:#ff8000;
  color:$white;
}
#archive li{
  font-size:$bunfont;
  margin:15px 0;
  a{
    color:#ff8000;
  }
}
#archive p{
  font-size:$dayfont;
  float:right;
}
#hot h3{
  font-size:$h3font;
  margin:0;
  text-align: center;
  background-color:#ff8000;
    color:$white;
}
#hot li{
  font-size:$bunfont;
  margin:5px 0;
  a{
    color:#ff8000;
  }
}
#foo{
  padding:0;
  margin:30px 0 0 0;
}
.fooli{
  float:left;
  list-style-type:none;
  font-size:1.4rem;
  margin:0 10px 0 0;

  a{
    text-decoration:none;
      color:#ff8000;
  }
}
#copy{
  font-size:1.2rem;
  clear:both;
}
#koukoku{
  list-style-type: none;
    padding: 0;
    display:flex;
    justify-content: center;
    margin:20px 0 0 0;
}
@media screen and(max-width:414px){
  html{
  border-style: none;
  }
  body{
    width:100%;
    padding:0;
  }
  header{
    background-color:#ff8000;
    position:fixed;
    width:100%;
    top:0;
    #logo{
    width:40%;
    padding:0;
    margin-top:10px;
    padding-left:10px;
    }
    #header_nav{
      display:inline;
      display:none;
      margin:0;
      position:fixed;
      width:100%;
      .h_nav{
        width:100%;
        margin:0;
        border:1px #000 solid;
        box-shadow:none;
      }
    }
  dl{
    background-color:#ff8000;
    margin:10px 0 0 0;
    float:none;
    display:none;
    dt{
      float:left;
    }
    #kensaku{
      float:left;
    }
    #nyuuryoku{
      float:left;
    }
  }
  .menu-trigger,
  .menu-trigger span {
  	display: inline-block;
  	transition: all .4s;
  	box-sizing: border-box;
  }
  .menu-trigger {
  	position: relative;
  	width: 10%;
  	height: 44px;
    left:45%;
  }
  .menu-trigger span {
  	position: absolute;
  	left: 0;
  	width: 100%;
  	height: 4px;
  	background-color: #fff;
  	border-radius: 4px;
  }
  .menu-trigger .top {
  	top: 0;
  }
  .menu-trigger .middle {
  	top: 15px;
  }
  .menu-trigger .bottom {
  	bottom: 10px;
  }
}
#maincontents{
  margin-top:18%;
}
.contents{
  width:48%;
}

  .bun{
    display:none;
  }
  .motto{
    display:none;
  }
  #taiken{
    width:100%;
  }
  #siryou{
    width:100%;
  }
  #kiji{
    display:block;
    #archive{
      float:none;
      width:100%;
      border:none;
      & p{
        display:none;
      }
    }
    #hot{
      width:100%;
      float:none;
      border:none;
    }
  }

}
